{% load static %}
<!-- Modal -->
<style>
  .form-control {
    border: 1px solid #DCE5F6 !important;
  }
</style>
<div class="modal fade" id="addnewclient" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header border-0">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">New Project</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="" method="post">
          {% csrf_token %}
          <div class="row">
            <div class="col-12">
              <div class="mb-3">
                <label for="projectname" class="form-label">Project Name</label>
                <input type="text" class="form-control" id="projectname" name="projectname">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="mb-3">
                <label for="Clientdetails" class="form-label">Client Details</label>
                <select class="form-control" id="Clientdetails" name="Clientdetails">
                  <option selected value="">---------------</option>
                  {% for priority in prioritis %}
                  <option value="{{priority}}" {% if project.priority == priority %} selected {% endif %} >{{priority}}</option>
                  {% endfor %}
              </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="mb-3">
                <label for="discription" class="form-label">Short Discription</label>
                <textarea class="form-control" id="discription" name="discription" rows="5"></textarea>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="mb-3">
                <label for="selectteam" class="form-label">Select Team</label>
                <select class="form-control" id="selectteam" name="selectteam">
                  <option>-----------</option>
                  {% for team in all_teams %}
                  <option value="{{ team.id }}">{{ team.name }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
          </div>
          <div class="d-flex justify-content-end">
            <input type="submit" class="btn btn-primary" value="Save">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
