{% load static %}
<!-- Modal -->
<div class="modal fade" id="addnewtype" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header border-0">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="d-flex align-items-center justify-content-center">
                    <label for="outputforstatus" id="outputfortype" class="border rounded-pill px-2 py-1"></label>
                </div>
                <hr>
                <form id="add-type-form" action="{% url 'createprojecttype' team_pk=get_team.pk project_pk=get_project.pk %}" method="post">
                    {% csrf_token %}
                    <div class="form-container">
                        <label for="typename">Type Name</label>
                        <input type="text" id="typename" name="typename" class="form-control mt-1" required>
                    </div>
                    <div class="form-container mt-3">
                        <div class="mb-3">
                            <label for="type-color-select" class="form-label">Colour</label>
                            <select class="form-control" id="type-color-select" name="color" required>
                                <option value="Gray" class="text-gray">Gray</option>
                                <option value="Blue" class="text-primary">Blue</option>
                                <option value="Green" class="text-success">Green</option>
                                <option value="Yellow" class="text-warning">Yellow</option>
                                <option value="Orange" class="text-orange">Orange</option>
                                <option value="Red" class="text-danger">Red</option>
                                <option value="Pink" class="text-pink">Pink</option>
                                <option value="Purple" class="text-purple">Purple</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-container mt-3">
                        <input type="submit" value="Save" class="btn btn-primary">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
