<!-- New Task Sidebar -->
<div class="modal fade" id="addnewtask" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header border-0">
                <p class="modal-title fw-semibold" id="staticBackdropLabel">New Task {{status.name}}</p>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="taskForm-{{status.pk}}" class="taskForm" action="{% url 'newtask' team_pk=get_team.pk project_pk=get_project.pk %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="offcanvas-body" style="overflow-x: hidden;">
                        <div class="inputcontainer mb-3">
                            <label for="taskname">Title</label>
                            <input type="text" class="form-control mt-1" id="taskname" name="taskname" value="">
                        </div>
                        <div class="border rounded-1 mb-4 editor-container">
                            <div class="d-flex align-items-center border-bottom p-2">
                                <i class='bx bx-pulse text-danger me-2 fs-4'></i>
                                <span class="text-danger fw-semibold">Task Status</span>
                            </div>
                            <div class="row p-2">
                                <div class="col-5">
                                    <i class='bx bxs-calendar me-1'></i>
                                    <span>Assigned to</span>
                                </div>
                                <div class="col-5">
                                    <select class="form-control" name="assigne">
                                        <option value="">--------------</option>
                                        {% for member in team_members %}
                                        <option value="{{member.pk}}">{{member.name}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="row p-2">
                                <div class="col-5">
                                    <i class='bx bxs-calendar me-1'></i>
                                    <span>Status</span>
                                </div>
                                <div class="col-5">
                                    <select class="form-control" name="status">
                                        <option value="">--------------</option>
                                        {% for status in statuss %}
                                        <option value="{{status.pk}}">{{status.name}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                
                            </div>
                            <div class="row p-2">
                                <div class="col-5">
                                    <i class='bx bx-network-chart'></i>
                                    <span>Task Type</span>
                                </div>
                                <div class="col-5">
                                    <select class="form-control" name="tasktype">
                                        <option value="">--------------</option>
                                        {% for type in types %}
                                        <option value="{{type.pk}}">{{type.name}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="row p-2">
                                <div class="col-5">
                                    <i class='bx bx-network-chart'></i>
                                    <span>Priority</span>
                                </div>
                                <div class="col-5">
                                    <select class="form-control" name="priority">
                                        <option value="">--------------</option>
                                        {% for value, label in Priority %}
                                            <option value="{{ value }}">{{ label }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-conrainer mt-3">
                            <label for="taskDescription" class="fw-semibold">Description</label>
                            <textarea name="taskdiscriptions" class="form-control mt-1" id="taskdiscriptions{{status.name}}{{status.pk}}" rows="6"></textarea>
                        </div>
                        <div class="d-flex flex-column w-100 border mt-3 rounded p-1">
                            <img src="" id="output-{{status.name}}{{status.pk}}" class="mb-3 d-none" style="height: 200px; width: fit-content;" />
                            <label for="file-{{status.name}}{{status.pk}}" class="d-flex align-items-center"><i class='bx bx-image fw-semibold fs-4'></i> <span>Attachment</span></label>
                            <input id="file-{{status.name}}{{status.pk}}" type="file" name="attachment" class="form-control" accept="image/*" onchange="loadFile(event, '{{status.name}}{{status.pk}}')" hidden/>
                        </div>
                        <input type="text" name="statuspk" value="{{status.pk}}" hidden>
                        <input type="text" name="projectpk" value="{{get_project.pk}}" hidden>
                        <div class="form-conrainer mt-3">
                            <input type="submit" value="Assign" class="btn btn-primary">
                        </div>
                    </div>
                </form> 
            </div>
        </div>
    </div>
</div>
<script>
    // 
    // 
    // 
    taskdiscriptionseditor = document.getElementById('taskdiscriptionseditor{{status.name}}{{status.pk}}');
    taskdiscriptionstextarea = document.getElementById('taskdiscriptions{{status.name}}{{status.pk}}');
    taskdiscriptionseditor.addEventListener('input', function(){
        taskdiscriptionstextarea.value = taskdiscriptionseditor.innerHTML;
        });

    // Function to handle file upload and display preview
    function loadFile(event, modalId) {
        var image = document.getElementById('output-' + modalId);
        image.src = URL.createObjectURL(event.target.files[0]);
        image.classList.remove('d-none');
    }

    document.querySelectorAll('[id^="file-"]').forEach(function(input) {
        input.addEventListener('change', function (event) {
            var image = document.getElementById('output-' + input.id.substring(5));
            if (event.target.files.length === 0) {
                image.src = '';
                image.classList.add('d-none');
            }
        });
    });
</script>