<div class="offcanvas offcanvas-end" tabindex="-1" id="projectsettingalert" aria-labelledby="offcanvasNavbarLabel"
    style="width: 45vw; height: 100vh; overflow: scroll !important;">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">{{project.project_name}}</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="px-3 mt-3">
        <div class="border rounded-1 mb-4 editor-container">
            <div class="d-flex align-items-center border-bottom p-2">
                <i class='bx bx-pulse text-danger me-2 fs-4'></i>
                <span class="text-danger fw-semibold">Project Status</span>
            </div>
            <form action="">
                <div class="row p-2">
                    <div class="col-3">
                        <i class='bx bxs-calendar me-1'></i>
                        <span>Start date : </span>
                    </div>
                    <div class="col">
                        <input type="date" name="start_date" id="start_date" class="form-control" value="{{ project.start_date|date:'Y-m-d' }}">
                    </div>
                </div>
                <div class="row p-2">
                    <div class="col-3">
                        <i class='bx bx-target-lock'></i>
                        <span>Target date : </span>
                    </div>
                    <div class="col">
                        <input type="date" name="end_date" id="end_date" class="form-control" value="{{project.end_date|date:'d-F-Y' }}">
                    </div>
                </div>
                <div class="row p-2">
                    <div class="col-3">
                        <i class='bx bx-network-chart'></i>
                        <span>Status : </span>
                    </div>
                    <div class="col">
                        <select class="form-select form-control" name="" id="" >
                            {% for status in statuses %}
                            <option {% if project.status == status %} selected {% endif %} value="{{status}}">{{status}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="row p-2">
                    <div class="col-3">
                        <i class='bx bx-network-chart'></i>
                        <span>Priority : </span>
                    </div>
                    <div class="col">
                        <select class="form-select form-control" name="" id="" >
                            <option selected>---------------</option>
                            {% for priority in prioritis %}
                            <option value="{{priority}}" {% if project.priority == priority %} selected {% endif %} >{{priority}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-conrainer mt-3">
                <input type="submit" class="btn btn-primary" value="Save Changes">
            </div>
        </form>
        <hr>
        <form action="" class="mb-3 mt-3">
            <div class="form-conrainer">
                <label for="" class="fw-semibold">Project Name</label>
                <input type="text" class="form-control mt-2" name="projectname" value="{{project.project_name}}">
            </div>
            <div class="form-conrainer mt-3">
                <label for="" class="fw-semibold">Project Descriptions</label>
                <textarea name="project_discription" id="project_discription" rows="7" class="form-control mt-2">{{project.project_discription}}</textarea>
            </div>
            <div class="form-conrainer mt-3">
                Attachment
            </div>
            <div class="form-conrainer mt-3">
                <input type="submit" class="btn btn-primary" value="Save Changes">
            </div>
        </form>
    </div>
</div>