<!-- Status Modal -->
{% for status in statuss %}
<div class="modal fade" id="statusModal{{status.pk}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header border-0">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="d-flex align-items-center justify-content-center">
                    <label for="outputforstatus" id="outputforstatus" class="border rounded-pill px-2 py-1"></label>
                </div>
                <hr>
                <form id="add-status-form" action="{% url 'update_status' tpk=get_team.pk ppk=get_project.pk spk=status.pk  %}" method="post">
                    {% csrf_token %}
                    <div class="form-container">
                        <label for="statusname">Status Name</label>
                        <input type="text" id="statusname" name="statusname" class="form-control mt-1" required value="{{status.name}}">
                    </div>
                    <div class="form-container mt-3">
                        <label for="description">Description</label>
                        <textarea id="description" name="description" class="form-control mt-1" required>{{status.description}}</textarea>
                    </div>
                    <div class="form-container mt-3">
                        <div class="mb-3">
                            <label for="color-select" class="form-label">Colour</label>
                            <select class="form-control" id="color-select" name="color" required>
                                <option value="None" class="text-dark" {% if status.color == 'None' %}selected{% endif %}>None</option>
                                <option value="Gray" class="text-gray" {% if status.color == 'Gray' %}selected{% endif %}>Gray</option>
                                <option value="Blue" class="text-primary" {% if status.color == 'Blue' %}selected{% endif %}>Blue</option>
                                <option value="Green" class="text-success" {% if status.color == 'Green' %}selected{% endif %}>Green</option>
                                <option value="Yellow" class="text-warning" {% if status.color == 'Yellow' %}selected{% endif %}>Yellow</option>
                                <option value="Orange" class="text-orange" {% if status.color == 'Orange' %}selected{% endif %}>Orange</option>
                                <option value="Red" class="text-danger" {% if status.color == 'Red' %}selected{% endif %}>Red</option>
                                <option value="Pink" class="text-pink" {% if status.color == 'Pink' %}selected{% endif %}>Pink</option>
                                <option value="Purple" class="text-purple" {% if status.color == 'Purple' %}selected{% endif %}>Purple</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-container mt-3">
                        <input type="submit" value="Save" class="btn btn-primary">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endfor %}