@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --bs-blue: #092C74;
    --bs-active-blue: #2a4580;
    --bs-select-blue: #DCE5F6;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #E98331;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-black: #000;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-gray-100: #f8f9fa;
    --bs-gray-200: #e9ecef;
    --bs-gray-300: #dee2e6;
    --bs-gray-400: #ced4da;
    --bs-gray: #efefef;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #6c757d;
    --bs-gray-700: #495057;
    --bs-gray-800: #343a40;
    --bs-gray-900: #212529;

    --bs-primary: #092C74;
    --bs-secondary: #D3E2FF;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #F4B966;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-primary-rgb: 13, 110, 253;
    --bs-secondary-rgb: 108, 117, 125;
    --bs-success-rgb: 25, 135, 84;
    --bs-info-rgb: 13, 202, 240;
    --bs-warning-rgb: 255, 193, 7;
    --bs-danger-rgb: 220, 53, 69;
    --bs-light-rgb: 248, 249, 250;
    --bs-dark-rgb: 33, 37, 41;
    --bs-white-rgb: 255, 255, 255;
    --bs-black-rgb: 0, 0, 0;
    --bs-body-color-rgb: 33, 37, 41;
    --bs-body-bg-rgb: 255, 255, 255;
    --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
    --bs-body-font-family: var(--bs-font-sans-serif);
    --bs-body-font-size: 1rem;
    --bs-body-font-weight: 400;
    --bs-body-line-height: 1.5;
    --bs-body-color: #212529;
    --bs-body-bg: #fff;
    --bs-border-width: 1px;
    --bs-border-style: solid;
    --bs-border-color: #dee2e6;
    --bs-border-color-translucent: rgba(0, 0, 0, 0.175);
    --bs-border-radius: 0.375rem;
    --bs-border-radius-sm: 0.25rem;
    --bs-border-radius-lg: 0.5rem;
    --bs-border-radius-xl: 1rem;
    --bs-border-radius-2xl: 2rem;
    --bs-border-radius-pill: 50rem;

    --bs-link-color: #092C74;
    --bs-link-hover-color: #0a58ca;
    --bs-code-color: #d63384;
    --bs-highlight-bg: #fff3cd
}
*{
    color: #373737;
    transform: translate(.5s);
}
.input-container{
    display: flex;
    border: 1px solid #D0D0D0;
    padding: 0.7rem 1.5rem;
    border-radius: 50px;
    margin-top: 0.8rem;
}

.input-search-container{
    display: flex;
    border: 1px solid #D0D0D0;
    padding: 0.4rem 1rem;
    border-radius: 50px;
    margin-top: 0.8rem;
    width: 250px;
}

.input-container .icon{
    width: 30px;
} 
.input-withbtn-container{
    padding: 0.7rem 1.5rem;
    border-radius: 50px;
    margin-top: 0.8rem;
    outline: none;
    border: none;
}


.input{
    outline: none;
    border: none;
    margin-left: 10px;
    font-size: 14px;
    width: 100%;
    height: 100%;
    border-radius: 50px !important;
}


.sumbit-btn{
    outline: none;
    border: none;
    font-size: 14px;
    width: 100%;
    height: 100%;
}

input::placeholder{
    font-size: 14px;
}

.bg-primary {
    background-color: var(--bs-primary) !important;
}
.bg-gray {
    background-color: var(--bs-gray) !important;
}

.bg-warning {
    background-color: var(--bs-warning) !important;
}

.text-warning {
    color: var(--bs-warning) !important;
}

.hvh {
    height: 100vh !important;
}

.card {
    --bs-card-spacer-y: 1rem;
    --bs-card-spacer-x: 1rem;
    --bs-card-title-spacer-y: 0.5rem;
    --bs-card-border-width: none !important;
    --bs-card-border-color: none !important;
    --bs-card-border-radius: 0.375rem;
    --bs-card-box-shadow: ;
    --bs-card-inner-border-radius: calc(0.375rem - 1px);
    --bs-card-cap-padding-y: 0.5rem;
    --bs-card-cap-padding-x: 1rem;
    --bs-card-cap-bg: rgba(0, 0, 0, 0.03);
    --bs-card-cap-color: ;
    --bs-card-height: ;
    --bs-card-color: ;
    --bs-card-bg: #fff;
    --bs-card-img-overlay-padding: 1rem;
    --bs-card-group-margin: 0.75rem;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    height: var(--bs-card-height);
    word-wrap: break-word;
    background-color: var(--bs-card-bg);
    background-clip: border-box;
    border: var(--bs-card-border-width) solid var(--bs-card-border-color);
    border-radius: var(--bs-card-border-radius);

}

.btn{
    background-color: var(--bs-secondary) !important;
    border-radius: 50px !important;
}
.bg-secondary{
    background-color: var(--bs-select-blue) !important;
}

.bg-secondary{
    background-color: var(--bs-select-blue) !important;
}

.btn-check:checked+.btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check)+.btn:active {
    color: black;
    background-color: var(--bs-btn-active-bg);
    border-color: var(--bs-active-blue)
}

.date-container{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    font-size: 12px;
}
.date-container>div{
    width: 27px;
    height: 27px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.today{background-color: var(--bs-primary); 
    padding: 5px; 
    border-radius: 50px;
}

.form-check-input:checked {
    background-color: var(--bs-primary) !important;
    border-color: var(--bs-primary) !important
}

.form-check-input:focus {
    border-color: none !important;
    outline: 0;
    box-shadow: none !important
}

.today div{
    color: var(--bs-white) !important;
}

.today .one{
    background-color: var(--bs-secondary);
    border-radius: 50px;

}
i, #currentMonthYear{
    cursor: pointer;
}

.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #002549 !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .375rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out
}
.form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: var(--bs-primary) !important;
    outline: 0;
    box-shadow: none !important ;
}

.btn-primary {
    --bs-btn-color: #fff;
    background-color: var(--bs-primary) !important;
    --bs-btn-border-color: #092C74 !important;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #0b5ed7;
    --bs-btn-hover-border-color: #0a58ca;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #0a58ca;
    --bs-btn-active-border-color: #0a53be;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #092C74 !important;
    --bs-btn-disabled-border-color: #092C74 !important
}

.profile-container:hover, .message-active {
    background: #efefef ;
}

.dropdown-menu.show {
    display: block;
}

.dropdown-item.active,
.dropdown-item:active {
    color: var(--bs-dropdown-link-active-color);
    text-decoration: none;
    background-color: var(--bs-active-blue)
}

.profile-pic {
    display: inline-block;
    position: relative;
    width: 150px; /* Adjust as needed */
    height: 150px; /* Adjust as needed */
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0 10px 0 rgba(255, 255, 255, .35);
}

.profile-pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.label {
    cursor: pointer;
    position: absolute;
    top: 0%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translateX(-50%);
    background-color: transparent;
    color: white;
    padding: 4px 8px;
    border-radius: 5px;
    transition: background-color .2s ease-in-out;
}

.label span i{
    position: absolute;
    bottom: 10px;
    z-index: 1000px;
    left: 68%;
    font-size: 2rem !important;
    border-radius: 50px;
    padding: 5px;
    color: var(--bs-primary);
    background-color: var(--bs-secondary);
}


.label:hover {
    background-color: rgba(0, 0, 0, 0.5); /* Slightly more opaque on hover */
}

.modal-body input, .modal-body textarea{
    border: 1px solid var(--bs-secondary) !important;
}