.calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 1px;
    padding: 10px;
}

.day {
    border: 1px solid #e2e2e2;
    min-height: 130px;
    overflow-x: hidden;
    position: relative;
    color: #fff;
    /* White text for better readability */
}

.day-header {
    /* background-color: ; */
    border: 1px solid rgb(226, 226, 226);
    padding: 0.6rem;
    text-align: center;
    color: #000;
}

.day .day-header {
    cursor: pointer;
    background-color: rgb(193, 202, 223);
    padding: 0rem 0.5rem !important;
    text-align: start;
}

.event {
    color: white;
    padding: 2px 2px;
    margin: 2px 0;
    border-radius: 3px;
    font-size: 0.8em;
}

.today-border {
    border: 2px solid rgb(62, 136, 62);
}