/* .card {
    background: #fff;
    transition: .5s;
    border: 0;
    margin-bottom: 30px;
    border-radius: .55rem;
    position: relative;
    width: 100%;
} */
.chat-app .people-list {
    width: 280px;
    position: absolute;
    left: 0;
    top: 0;
    padding: 0 20px 20px 0;
    z-index: 7
}

.chat-app .chat {
    margin-left: 280px;
    border: 1px solid #eaeaea;
    height: 100%;
}

/* .people-list {
    -moz-transition: .5s;
    -o-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s
} */

.people-list .chat-list li {
    position: relative;
    padding: 10px 15px;
    list-style: none;
    border-radius: 3px;
    display: flex;
    align-items: center;
}

.people-list .chat-list li:hover{
    background: #efefef;
    cursor: pointer
}

.people-list .chat-list li.chat-active {
    background: #efefef
}

.people-list .chat-list li .name {
    font-size: 15px
}

.people-list .chat-list img {
    width: 45px;
    border-radius: 50%
}

/* .people-list img {
    float: left;
    border-radius: 50%
} */

.people-list .about {
    float: left;
    padding-left: 8px
}

.people-list .status {
    color: #999;
    font-size: 13px
}

.chat .chat-header {
    padding: 15px 20px;
    border-bottom: 2px solid #f4f7f6
}

/* .chat .chat-header img {
    float: left;
    border-radius: 40px;
    width: 40px
} */

/* .chat .chat-header .chat-about {
    float: left;
    padding-left: 10px
} */

.chat .chat-history {
    padding: 20px;
    padding-bottom: 0px;
    border-bottom: 2px solid #fff;
    height: 85%;
    overflow-y: auto;
}

.chat .chat-history ul {
    padding: 0
}

.chat .chat-history ul li {
    list-style: none;
    margin-bottom: 5px
}

/* .chat .chat-history ul li:last-child {
    margin-bottom: 0px
} */

/* .chat .chat-history .message-data {
    margin-bottom: 15px
} */

/* .chat .chat-history .message-data img {
    border-radius: 40px;
    width: 40px
} */

/* .chat .chat-history .message-data-time {
    color: #434651;
    padding-left: 6px
} */

.chat .chat-history .message {
    color: #444;
    padding: 5px 20px;
    line-height: 26px;
    font-size: 16px;
    border-radius: 7px;
    display: inline-block;
    position: relative;
    max-width: 70%;
    min-width: 20%;
}

.chat .chat-history .my-message {
    background: #efefef
}
.other-message-container{
    text-align: end;
}
.chat .chat-history .other-message {
    background: #e8f1f3;
    text-align: left;
}

.chat .chat-history .other-message:after {
    border-bottom-color: #e8f1f3;
    left: 93%
}

.chat .chat-message {
    padding: 20px
}

.online,
.offline,
.me {
    margin-right: 2px;
    font-size: 8px;
    vertical-align: middle
}

.online {
    color: #86c541
}

.offline {
    color: #e47297
}

.me {
    color: #1d8ecd
}

.float-right {
    float: right
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0
}

.notification-badge {
    background-color: var(--bs-primary);
    color: white;
    border-radius: 45px;
    padding: 3px 8px;
    font-size: 0.7em;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 767px) {
    .chat-app .people-list {
        height: 465px;
        width: 100%;
        overflow-x: auto;
        background: #fff;
        left: -400px;
        display: none
    }
    .chat-app .people-list.open {
        left: 0
    }
    .chat-app .chat {
        margin: 0
    }
    .chat-app .chat .chat-header {
        border-radius: 0.55rem 0.55rem 0 0
    }
    .chat-app .chat-history {
        height: 300px;
        overflow-x: auto
    }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
    .chat-app .chat-list {
        height: 650px;
        overflow-x: auto
    }
    .chat-app .chat-history {
        height: 600px;
        overflow-x: auto
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
    .chat-app .chat-list {
        height: 480px;
        overflow-x: auto
    }
    .chat-app .chat-history {
        height: calc(100vh - 350px);
        overflow-x: auto
    }
}

/*  */
/*  */
/*  */


.sidebar-message-char {
    margin: 0;
    padding: 0;
    position: fixed;
    overflow: auto;
    display: flex;
    flex-direction: column;
    height: 80Vh;
}
#preview-container{
    display: block;
    position: absolute;
    width: -webkit-fill-available;
    background-color: #FFF;
    top: 0;
    height: -webkit-fill-available;
}

.chat-message {
    display: flex;
    align-items: end;
    padding: 10px;
}
.attachment-container {
    position: relative;
    display: inline-block;
}
.attachment-options {
    display: none;
    position: absolute;
    bottom: 100%;
    left: 0;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    z-index: 1;
}
.attachment-options div {
    padding: 8px 12px;
    cursor: pointer;
}
.attachment-options div:hover {
    background-color: #f0f0f0;
}
.input-group {
    flex-grow: 1;
    display: flex;
    align-items: center;
}
.input-group input {
    flex-grow: 1;
    padding: 10px;
    border: none;
    border-radius: 5px;
}
.send-button {
    background-color: #34b7f1;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    color: white;
}
.preview-container {
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
}
.preview {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.preview img {
    height: 75%;
}
.preview .file-info {
    margin-top: 10px;
    color: #000;
}
.preview .caption {
    margin-top: 10px;
    width: 100%;
    padding: 5px;
    border: none;
    border-radius: 5px;
}