::-webkit-scrollbar {
  width: 5px;
  height: 10px;
  border-radius: 2rem;
}
::-webkit-scrollbar-track {
  background: #b5b5b5;
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
  background-clip: content-box;
}
::-webkit-scrollbar-thumb {
  background: var(--bs-primary);
  border-radius: 1rem;
  height: 100px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--bs-primary);
}
::-webkit-scrollbar-thumb:active {
  background-color: var(--bs-primary);
}
::-webkit-scrollbar:horizontal{
  width: 10px;
  height: 8px;
}
::-webkit-scrollbar-track:horizontal{
  height:8px;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
}