<section class="header-section mt-4">
    <div class="container d-flex align-items-end justify-content-between">
        <div class="search-container">
            <div class="inside-container input-search-container">
                <i class='bx bx-search-alt fs-5'></i>
                <input type="search" class="input" placeholder="Search">
            </div>
        </div>
        <div class="profile--container  d-flex align-items-start">
            <div class="me-4">
                {% include 'includes/profile_card.html' %}
            </div>
            <div class="notification">
                <i class='bx bx-bell fs-4' ></i>
            </div>
        </div>
    </div>
</section>