{% load static %}
<div class="d-flex align-items-start">
    <div class="rounded-2 bg-dark me-2" style="width: 70px; height: 70px; overflow: hidden;">
        <img src="{% static 'images/profile_pic.jpg' %}" alt="" width="100%" height="100%">
    </div>
    <div>
        <h5 class="m-0 p-0">Suresh Krishnan</h5>
        <p class="m-0 p-0 small">Founder and CEO</p>
        <span class="m-0 p-0  small rounded-5 fw-bold bg-warning py-1 px-3" style="font-size: .7rem;"><i class='bx bx-bulb'></i> Digital Marketer</span>
    </div>
</div>