{% load static %}
<div class="d-flex align-items-start">
    <div class="rounded-2 bg-dark me-2" style="width: 60px; height: 60px; overflow: hidden;">
        <img src="{% static 'images/profile_pic.jpg' %}" alt="" width="100%" height="100%">
    </div>
    <div class="d-flex flex-column justify-content-between align-items-start h-100 gap-2">
        <h5 class="m-0 p-0 fs-5 fw-bold">Suresh Krishnan</h5>
        <p class="m-0 p-0  small rounded-5 fw-bold bg-warning py-1 px-3" style="font-size: .7rem;">Founder and CEO</p>
    </div>
</div>