{% extends 'base.html' %}
{% block title %}{{employee.name}} Details page | Revaa {% endblock %}
{% load static %}
{% block container %}
<div class="d-flex">
    {% include 'includes/sidebar.html' %}
    <div class="content w-100">
        <div class="container1">
            <div class="main-body">
                <h5>Basic information</h5>
                <div class="row gutters-sm">
                    <div class="col-md-6 col-lg-4 col-x-lg-3 mb-3 border-bottom">
                        <div class="border rounded id-card-body position-relative">
                            <div class="card-body">
                                <div class="d-flex flex-column align-items-center text-center">
                                    <div class="">
                                        <img src="{% static 'images/Revaa-new-logo-01.png' %}" alt="" width="120">
                                    </div>
                                    <div class="id-image-container rounded-circle border bg-white mt-5 d-flex align-items-center justify-content-center"
                                        style="width: 180px; height: 178px;">
                                        <img src="{% static 'images/Vignesh M-03.png' %}" alt="Admin"
                                            class="id-card-image">
                                        <div class="yellow-ball"></div>
                                    </div>
                                    <div class="mt-3">
                                        <h4 class="text-light">{{employee.name}}</h4>
                                        <p class="text-muted mb-1">EMP ID : {{employee.employee_id}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex align-items-center justify-content-center" style="gap: 8px;">
                            <a href="{% url 'openmessagesection' pk=employee.pk  %}" class="btn btn-primary mt-2">Message</a>
                            <a href="" class="btn btn-primary mt-2">E-mail</a>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="border mb-3">
                            <div class="card-body">
                                <div class="row mb-md-2">
                                    <div class="col-sm-4">
                                        <p class="mb-0 fw-semibold">Name</p>
                                    </div>
                                    <div class="col-sm-8 text-secondary">
                                        {{employee.name}}
                                    </div>
                                </div>
                                <div class="row mb-md-2">
                                    <div class="col-sm-4">
                                        <p class="mb-0 fw-semibold">Email</p>
                                    </div>
                                    <div class="col-sm-8 text-secondary">
                                        {{employee.user.email}}
                                    </div>
                                </div>
                                <div class="row mb-md-2">
                                    <div class="col-sm-4">
                                        <p class="mb-0 fw-semibold">Phone Number</p>
                                    </div>
                                    <div class="col-sm-8 text-secondary">
                                        {{employee.mobile_number}}
                                    </div>
                                </div>
                                <div class="row mb-md-2">
                                    <div class="col-sm-4">
                                        <p class="mb-0 fw-semibold">Emergency Number</p>
                                    </div>
                                    <div class="col-sm-8 text-secondary">
                                        {{employee.second_mobile_number}}
                                    </div>
                                </div>
                                <div class="row mb-md-2">
                                    <div class="col-sm-4">
                                        <p class="mb-0 fw-semibold">Date of Birth</p>
                                    </div>
                                    <div class="col-sm-8 text-secondary">
                                        {{employee.date_of_birth}}
                                    </div>
                                </div>
                                <div class="row mb-md-2">
                                    <div class="col-sm-4">
                                        <p class="mb-0 fw-semibold">Blood Group</p>
                                    </div>
                                    <div class="col-sm-8 text-secondary">
                                        {{employee.blood_group}}
                                    </div>
                                </div>
                                <div class="row mb-md-2">
                                    <div class="col-sm-4">
                                        <p class="mb-0 fw-semibold">Address</p>
                                    </div>
                                    <div class="col-sm-8 text-secondary">
                                        {{employee.address}}
                                    </div>
                                </div>
                                <div class="row mb-md-2">
                                    <div class="col-sm-4">
                                        <p class="mb-0 fw-semibold">Aadhar Card</p>
                                    </div>
                                    <div class="col-sm-8 text-secondary">
                                        {% if employee.aadhar_card_copy %}
                                        <a href="{{employee.aadhar_card_copy.url}}" target="_blank">View</a>
                                        {% else %}
                                        <span class="text-danger">Not Uploaded</span>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="row mb-md-2">
                                    <div class="col-sm-4">
                                        <p class="mb-0 fw-semibold">Pan Card</p>
                                    </div>
                                    <div class="col-sm-8 text-secondary">
                                        {% if employee.pan_card_copy %}
                                        <a href="{{employee.pan_card_copy.url}}" target="_blank">View</a>
                                        {% else %}
                                        <span class="text-danger">Not Uploaded</span>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="row mb-md-2">
                                    <div class="col-sm-4">
                                        <p class="mb-0 fw-semibold">College Mark Sheet</p>
                                    </div>
                                    <div class="col-sm-8 text-secondary">
                                        {% if employee.twelfth_mark_sheet %}
                                        <a href="{{employee.twelfth_mark_sheet.url}}" target="_blank">View</a>
                                        {% else %}
                                        <span class="text-danger">Not Uploaded</span>
                                        {% endif %}
                                    </div>
                                </div>

                                <div class="row mb-md-2">
                                    <div class="col-sm-4">
                                        <p class="mb-0 fw-semibold">12th Mark Sheet</p>
                                    </div>
                                    <div class="col-sm-8 text-secondary">
                                        {% if employee.twelfth_mark_sheet %}
                                        <a href="{{employee.twelfth_mark_sheet.url}}" target="_blank">View</a>
                                        {% else %}
                                        <span class="text-danger">Not Uploaded</span>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="row mb-md-2">
                                    <div class="col-sm-4">
                                        <p class="mb-0 fw-semibold">10th Mark sheet</p>
                                    </div>
                                    <div class="col-sm-8 text-secondary">
                                        {% if employee.tenth_mark_sheet %}
                                        <a href="{{employee.tenth_mark_sheet.url}}" target="_blank">View</a>
                                        {% else %}
                                        <span class="text-danger">Not Uploaded</span>
                                        {% endif %}
                                    </div>
                                </div>

                                <button class="btn btn-primary mt-2">Basic information Edit</button>
                            </div>
                        </div>
                    </div>
                </div>
                {% if tasks %}
                <h5>Report Dashboard</h5>
                <div class="container123 mt-4">
                    <form id="filterForm">
                        <div class="row mb-2 d-flex align-items-end">
                            <div class="col-sm-3" style="gap: 10px;">
                                <label for="" class="mb-1">From date</label>
                                <input type="date" class="form-control date" name="fromdate" placeholder="From Date">
                            </div>
                            <div class="col-sm-3" style="gap: 10px;">
                                <label for="" class="mb-1">To date</label>
                                <input type="date" class="form-control date" name="todate" value="enddate">
                            </div>
                            <div class="col-sm-3" style="gap: 10px;">
                                <label for="" class="mb-1">Select Project <span class="text-muted"> (Optional)</span></label>
                                <select class="form-control" aria-label="Default select example">
                                    <option selected>Open this select menu</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                  </select>
                            </div>
                            <div class="col-sm-3 d-flex align-items-end" style="gap: 8px;">
                                <input type="submit" class="btn btn-primary" value="Load data" name="_load">
                                <a href="" class="btn btn-primary">Print report</a>
                            </div>
                        </div>
                    </form>
                    <div class="row">
                      <div class="col-6 ">
                        <div class="border">
                            <img src="{{ pie_chart }}" alt="Task Type Distribution Pie Chart" style="width: 100%;">
                        </div>
                      </div>
                      <div class="col-6">
                        <div class="border">
                        <img src="{{ pie_chart }}" alt="Task Type Distribution Bar Chart" style="width: 100%">
                        </div>                        
                      </div>
                    </div>
                </div>
                <section class="task-section" style="overflow-y: auto;">
                    <div style="width: 76.65vw; overflow-x: auto;">
                        <table class="table align-middle mb-0 mt-3" style="width: 110vw;">
                            <thead class="bg-primary">
                                <tr>
                                    <td class="text-white">#</td>
                                    <td class="text-white">Project Name</td>
                                    <td class="text-white">Task Title</td>
                                    <td class="text-white">Task type</td>
                                    <td class="text-white">Priority</td>
                                    <td class="text-white">Status</td>
                                    <td class="text-white">ETA</td>
                                    <td class="text-white">Start date time</td>
                                    <td class="text-white">End date time</td>
                                    <td class="text-white">Assigned from</td>
                                </tr>
                            </thead>
                            <tbody>
                                
                                {% for task in tasks %}
                                <tr  class="{% if forloop.counter|divisibleby:2 == True %}bg-gray{% endif %}">
                                    <td>{{forloop.counter}}</td>
                                    <td>{{task.project}}</td>
                                    <td>{{task.title}}</td>
                                    <td> <p class="fw-normal mb-1">{{task.task_type}}</p></td>
                                    <td> <span class="badge 
                                    {% if task.priority == 'Low' %}
                                    cs-alert-primary
                                    {% elif task.priority == 'Medium' %}
                                    cs-alert-orange
                                    {% elif task.priority == 'High' %}
                                    cs-alert-danger
                                    {% else %}
                                    cs-alert-yellow
                                    {% endif %}
                                    rounded-pill d-inline">{{task.priority}}</span></td>
                                    <td> <span class="badge rounded-pill d-inline
                                        {% if task.status.color == 'None' %}
                                        border
                                        {% elif task.status.color == 'Gray' %}
                                        cs-alert-gray text-dark
                                        {% elif task.status.color == 'Blue' %}
                                        cs-alert-primary
                                        {% elif task.status.color == 'Green' %}
                                        cs-alert-green
                                        {% elif task.status.color == 'Yellow' %}
                                        cs-alert-yellow
                                        {% elif task.status.color == 'Orange' %}
                                        cs-alert-orange
                                        {% elif task.status.color == 'Red' %}
                                        cs-alert-danger
                                        {% elif task.status.color == 'Pink' %}
                                        cs-alert-pink
                                        {% elif task.status.color == 'Purple' %}
                                        cs-alert-purple
                                        {% endif %}
                                    ">{{task.status}}</span></td>
                                    <td>{{task.ETA}}</td>
                                    <td>{{task.start_date_time}}</td>
                                    <td>{{task.end_date_time}}</td>
                                    <td>{{task.assigned_from}}</td>
                                </tr>
                                {% endfor %}
                                {% else %}
                                <tr class="">
                                    <td colspan="7" class="text-center">No tasks available</td>
                                </tr>
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
<style>
    .id-image-container {
        position: relative;
        border-bottom: 7px solid #092C74 !important;
        border-right: 7px solid #092C74 !important;
        border-left: 7px solid #DCE5F6 !important;
        border-top: 7px solid #DCE5F6 !important;
        transform: rotate(44.5deg);
    }

    .yellow-ball {
        background: rgb(246, 74, 0);
        background: linear-gradient(103deg, rgba(246, 74, 0, 1) 0%, rgba(249, 226, 72, 1) 100%);
        height: 40px;
        width: 40px;
        border-radius: 50%;
        position: absolute;
        top: 35%;
        right: -18.5px;
    }

    .id-card-body::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 47.4%;
        background-color: #092C74;
        z-index: -1;
    }

    .id-card-image {
        width: 200px;
        position: absolute;
        top: -14%;
        left: -14%;
        transform: rotate(-44.5deg);
        border-radius: 0 0 50% 50%
    }

    .main-body {
        padding: 15px;
    }

    .card {
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px 0 rgba(0, 0, 0, .06);
    }

    .card {
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 0 solid rgba(0, 0, 0, .125);
        border-radius: .25rem;
    }

    .card-body {
        flex: 1 1 auto;
        min-height: 1px;
        padding: 1rem;
    }

    .gutters-sm {
        margin-right: -8px;
        margin-left: -8px;
    }

    .gutters-sm>.col,
    .gutters-sm>[class*=col-] {
        padding-right: 8px;
        padding-left: 8px;
    }

    .mb-3,
    .my-3 {
        margin-bottom: 1rem !important;
    }

    .bg-gray-300 {
        background-color: #e2e8f0;
    }

    .h-100 {
        height: 100% !important;
    }

    .shadow-none {
        box-shadow: none !important;
    }
</style>
{% endblock %}
{% block script %}
{% endblock %}