{% extends 'base.html' %}
{% block title %}Home Page | Revaa {% endblock %}
{% block container %}
{% load static %}
<div class="mb-3">
    {% include 'includes/sidebar.html' %}
    <div class="content">

        {% include 'includes/navbar.html' %}

        <div class=" container">
            <div class="mt-4">
                <h4 class="m-0 p-0 mb-1 fs-5 fw-bold">Good Morning, Suresh Krishnan</h4>
            </div>
            {% include 'includes/subnav.html' %}
        </div>

        <div class="container">
            <div class="row align-items-end">
                <div class="col-md-9">
                    <section class="project-section">
                        <div class="row">
                            <div class="col-sm-4 text-light">
                                <div class="card mt-3 bg-primary py-1 px-3">
                                    <div class="d-flex" style="align-items: center;">
                                        <p class=" pe-2  m-0 text-light" style="width: fit-content; font-size: 3rem;">8
                                        </p>
                                        <p class="p-0 m-0 text-light">Waiting To Start</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4 p-lg-0">
                                <div class="card mt-3 bg-primary py-1 px-3">
                                    <div class="d-flex" style="align-items: center;">
                                        <p class=" pe-2  m-0 text-light" style="width: fit-content; font-size: 3rem;">3
                                        </p>
                                        <p class="p-0 m-0 text-light">Dropped</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="card mt-3 bg-primary py-1 px-3">
                                    <div class="d-flex" style="align-items: center;">
                                        <p class=" pe-2 text-light m-0" style="width: fit-content; font-size: 3rem;">20
                                        </p>
                                        <p class="p-0 m-0 text-light">Hold</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4 text-light">
                                <div class="card mt-3 bg-primary py-1 px-3">
                                    <div class="d-flex" style="align-items: center;">
                                        <p class=" pe-2  m-0 text-light" style="width: fit-content; font-size: 3rem;">8
                                        </p>
                                        <p class="p-0 m-0 text-light">On Progress</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4 p-lg-0">
                                <div class="card mt-3 bg-primary py-1 px-3">
                                    <div class="d-flex" style="align-items: center;">
                                        <p class=" pe-2  m-0 text-light" style="width: fit-content; font-size: 3rem;">3
                                        </p>
                                        <p class="p-0 m-0 text-light">Completed</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="card mt-3 bg-primary py-1 px-3">
                                    <div class="d-flex" style="align-items: center;">
                                        <p class=" pe-2 text-light m-0" style="width: fit-content; font-size: 3rem;">20
                                        </p>
                                        <p class="p-0 m-0 text-light">Closed</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="col-md-3">
                    {% include 'includes/profile_card.html' %}
                    <div class=" border rounded-2 p-1 mt-3" style="height: 100px;">
                        <div class="d-flex align-items-center justify-content-around">
                            <i class="bx bx-chevron-left fs-4" id="gotoprevWeek"></i>
                            <p class="m-0 p-0" id="currentMonthYear"></p>
                            <i class="bx bx-chevron-right fs-4" id="gotonextWeek"></i>
                        </div>
                        <div class="">
                            <div class="d-flex align-items-center justify-content-between mt-1" id="weekDates"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="mt-4">
                    <h4 class="m-0 p-0 mb-1 fs-5 fw-bold">Over all Tasks</h4>
                </div>
                <div class="col-sm-3 text-light">
                    <div class="border rounded-2 mt-3 p-3">
                        <div class="row">
                            <div class="col-4">
                                <i class='bx bxs-hourglass-top fs-3 m-0 alert alert-danger rounded-pill'></i>
                            </div>
                            <div class="col-8">
                                <p class="m-0 p-0 fw-bold fs-5 text-danger-emphasis">7 Not a Start</p>
                                <p class="m-0 p-0 fw-semibold text-muted">In the last 7 days </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 text-light">
                    <div class="border rounded-2 mt-3 p-3">
                        <div class="row">
                            <div class="col-4">
                                <i class='bx bxs-hourglass fs-3 m-0 alert alert-warning rounded-pill'></i>
                            </div>
                            <div class="col-8">
                                <p class="m-0 p-0 fw-bold fs-5 text-warning">7 Not a Done</p>
                                <p class="m-0 p-0 fw-semibold text-muted-emphasis">In the last 7 days </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 text-light">
                    <div class="border rounded-2 mt-3 p-3">
                        <div class="row">
                            <div class="col-4">
                                <i class='bx bx-party fs-3 m-0 alert alert-success rounded-pill'></i>
                            </div>
                            <div class="col-8">
                                <p class="m-0 p-0 fw-bold fs-5 text-success-emphasis">7 Done</p>
                                <p class="m-0 p-0 fw-semibold text-muted">In the last 7 days </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 text-light">
                    <div class="border rounded-2 mt-3 p-3">
                        <div class="row">
                            <div class="col-4">
                                <i class='bx bx-check fs-3 m-0 alert alert-secondary rounded-pill'></i>
                            </div>
                            <div class="col-8">
                                <p class="m-0 p-0 fw-bold fs-5 text-secondary">7 Unwanted</p>
                                <p class="m-0 p-0 fw-semibold text-muted">In the last 7 days </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="my-3">
                <h4 class="m-0 p-0 mb-1 fs-5 fw-bold">Over all Projects</h4>
            </div>
            <div class="row" style="height: 550px; overflow: none;">
                <div class="col-4 h-100">
                    <div class="border h-100 p-4 rounded-2" style="overflow-y: auto;">
                        <h5>Status overview</h5>
                        <p>Get a snapshot of the status of your items. <a href="#">View all items</a></p>
                        <canvas id="myChart"></canvas>
                        <ul class="list-unstyled">
                            <li><span style="color: #d3d3d3;">■</span> To Do: 0</li>
                            <li><span style="color: #36a2eb;">■</span> In Progress: 1</li>
                            <li><span style="color: #4caf50;">■</span> Done: 1</li>
                            <li>Total: 2</li>
                        </ul>
                    </div>
                    <script>
                        const ctx = document.getElementById('myChart').getContext('2d');
                        new Chart(ctx, {
                            type: 'doughnut',
                            data: {
                                datasets: [{
                                    data: [0, 1, 1],
                                    backgroundColor: ['#D3E2FF', '#36a2eb', '#4caf50'],
                                    hoverBackgroundColor: ['#D3E2FF', '#36a2eb', '#4caf50']
                                }]
                            },
                            options: {
                                plugins: {
                                    tooltip: {
                                        callbacks: {
                                            label: function (tooltipItem) {
                                                const dataset = tooltipItem.dataset;
                                                const total = dataset.data.reduce((sum, value) => sum + value, 0);
                                                const currentValue = dataset.data[tooltipItem.dataIndex];
                                                const percentage = Math.floor(((currentValue / total) * 100) + 0.5);
                                                return percentage + '%';
                                            }
                                        }
                                    }
                                }
                            }
                        });
                    </script>
                </div>
                <div class="col-8 h-100">
                    <div class="border h-100 p-4 rounded-2" style="overflow-y: auto;">
                        <div style="height: 12%;" class="border-bottom">
                            <h4 class="m-0 p-0 mb-1 fs-5 fw-bold ">Recent activity</h4>
                            <small>Stay up to date with what's happening across the project.</small>
                        </div>
                        <div class="row mt-3">
                            <div class="col-12">
                                <div class="d-flex align-items-center gap-1 mb-2">
                                    <div style="width: 40px; height: 40px;">
                                        <img src="https://via.placeholder.com/50" alt="Avatar" class="rounded-pill"
                                            style="width: 100%;">
                                    </div>
                                    <div>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, dicta?
                                    </div>
                                </div>
                                <div class="d-flex align-items-center gap-1 mb-2">
                                    <div style="width: 40px; height: 40px;">
                                        <img src="https://via.placeholder.com/50" alt="Avatar" class="rounded-pill"
                                            style="width: 100%;">
                                    </div>
                                    <div>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, dicta?
                                    </div>
                                </div>
                                <div class="d-flex align-items-center gap-1 mb-2">
                                    <div style="width: 40px; height: 40px;">
                                        <img src="https://via.placeholder.com/50" alt="Avatar" class="rounded-pill"
                                            style="width: 100%;">
                                    </div>
                                    <div>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, dicta?
                                    </div>
                                </div>
                                <div class="d-flex align-items-center gap-1 mb-2">
                                    <div style="width: 40px; height: 40px;">
                                        <img src="https://via.placeholder.com/50" alt="Avatar" class="rounded-pill"
                                            style="width: 100%;">
                                    </div>
                                    <div>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, dicta?
                                    </div>
                                </div>
                                <div class="d-flex align-items-center gap-1 mb-2">
                                    <div style="width: 40px; height: 40px;">
                                        <img src="https://via.placeholder.com/50" alt="Avatar" class="rounded-pill"
                                            style="width: 100%;">
                                    </div>
                                    <div>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, dicta?
                                    </div>
                                </div>
                                <div class="d-flex align-items-center gap-1 mb-2">
                                    <div style="width: 40px; height: 40px;">
                                        <img src="https://via.placeholder.com/50" alt="Avatar" class="rounded-pill"
                                            style="width: 100%;">
                                    </div>
                                    <div>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, dicta?
                                    </div>
                                </div>
                                <div class="d-flex align-items-center gap-1 mb-2">
                                    <div style="width: 40px; height: 40px;">
                                        <img src="https://via.placeholder.com/50" alt="Avatar" class="rounded-pill"
                                            style="width: 100%;">
                                    </div>
                                    <div>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, dicta?
                                    </div>
                                </div>
                                <div class="d-flex align-items-center gap-1 mb-2">
                                    <div style="width: 40px; height: 40px;">
                                        <img src="https://via.placeholder.com/50" alt="Avatar" class="rounded-pill"
                                            style="width: 100%;">
                                    </div>
                                    <div>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, dicta?
                                    </div>
                                </div>
                                <div class="d-flex align-items-center gap-1 mb-2">
                                    <div style="width: 40px; height: 40px;">
                                        <img src="https://via.placeholder.com/50" alt="Avatar" class="rounded-pill"
                                            style="width: 100%;">
                                    </div>
                                    <div>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, dicta?
                                    </div>
                                </div>
                                <div class="d-flex align-items-center gap-1 mb-2">
                                    <div style="width: 40px; height: 40px;">
                                        <img src="https://via.placeholder.com/50" alt="Avatar" class="rounded-pill"
                                            style="width: 100%;">
                                    </div>
                                    <div>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, dicta?
                                    </div>
                                </div>
                                <div class="d-flex align-items-center gap-1 mb-2">
                                    <div style="width: 40px; height: 40px;">
                                        <img src="https://via.placeholder.com/50" alt="Avatar" class="rounded-pill"
                                            style="width: 100%;">
                                    </div>
                                    <div>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, dicta?
                                    </div>
                                </div>
                                <div class="d-flex align-items-center gap-1 mb-2">
                                    <div style="width: 40px; height: 40px;">
                                        <img src="https://via.placeholder.com/50" alt="Avatar" class="rounded-pill"
                                            style="width: 100%;">
                                    </div>
                                    <div>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, dicta?
                                    </div>
                                </div>
                                <div class="d-flex align-items-center gap-1 mb-2">
                                    <div style="width: 40px; height: 40px;">
                                        <img src="https://via.placeholder.com/50" alt="Avatar" class="rounded-pill"
                                            style="width: 100%;">
                                    </div>
                                    <div>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, dicta?
                                    </div>
                                </div>
                                <div class="d-flex align-items-center gap-1 mb-2">
                                    <div style="width: 40px; height: 40px;">
                                        <img src="https://via.placeholder.com/50" alt="Avatar" class="rounded-pill"
                                            style="width: 100%;">
                                    </div>
                                    <div>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, dicta?
                                    </div>
                                </div>
                                <div class="d-flex align-items-center gap-1 mb-2">
                                    <div style="width: 40px; height: 40px;">
                                        <img src="https://via.placeholder.com/50" alt="Avatar" class="rounded-pill"
                                            style="width: 100%;">
                                    </div>
                                    <div>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, dicta?
                                    </div>
                                </div>
                                <div class="d-flex align-items-center gap-1 mb-2">
                                    <div style="width: 40px; height: 40px;">
                                        <img src="https://via.placeholder.com/50" alt="Avatar" class="rounded-pill"
                                            style="width: 100%;">
                                    </div>
                                    <div>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, dicta?
                                    </div>
                                </div>
                                <div class="d-flex align-items-center gap-1 mb-2">
                                    <div style="width: 40px; height: 40px;">
                                        <img src="https://via.placeholder.com/50" alt="Avatar" class="rounded-pill"
                                            style="width: 100%;">
                                    </div>
                                    <div>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, dicta?
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script src="https://cdn.jsdelivr.net/npm/pikaday/pikaday.js"></script>
<script src="{% static 'js/date.js' %}"></script>
{% endblock %}