{% extends 'base.html' %}
{% block title %}Home Page | Revaa {% endblock %}
{% block container %}
{% load static %}
<div class="d-flex">
        {% include 'includes/sidebar.html' %}
    <div class="content">
        <div class="row">
            <div class="col-lg-9">
                <div class="mt-4">
                    <h4>Good Morning, Suresh Krishnan !</h4>
                </div>
                <section class="project-section">
                    <div class="row">
                        <div class="col-lg-4 text-light">
                            <div class="card mt-3 bg-primary py-1 px-3">
                                <div class="d-flex" style="align-items: center;">
                                    <p class=" pe-2  m-0 text-light" style="width: fit-content; font-size: 3rem;">8</p>
                                    <p class="p-0 m-0 text-light">Waiting<br>To Start</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 p-lg-0">
                            <div class="card mt-3 bg-primary py-1 px-3">
                                <div class="d-flex" style="align-items: center;">
                                    <p class=" pe-2  m-0 text-light" style="width: fit-content; font-size: 3rem;">3</p>
                                    <p class="p-0 m-0 text-light">Dropped</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="card mt-3 bg-primary py-1 px-3">
                                <div class="d-flex" style="align-items: center;">
                                    <p class=" pe-2 text-light m-0" style="width: fit-content; font-size: 3rem;">20</p>
                                    <p class="p-0 m-0 text-light">Hold</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 text-light">
                            <div class="card mt-3 bg-primary py-1 px-3">
                                <div class="d-flex" style="align-items: center;">
                                    <p class=" pe-2  m-0 text-light" style="width: fit-content; font-size: 3rem;">8</p>
                                    <p class="p-0 m-0 text-light">On<br>Progress</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 p-lg-0">
                            <div class="card mt-3 bg-primary py-1 px-3">
                                <div class="d-flex" style="align-items: center;">
                                    <p class=" pe-2  m-0 text-light" style="width: fit-content; font-size: 3rem;">3</p>
                                    <p class="p-0 m-0 text-light">Completed</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="card mt-3 bg-primary py-1 px-3">
                                <div class="d-flex" style="align-items: center;">
                                    <p class=" pe-2 text-light m-0" style="width: fit-content; font-size: 3rem;">20</p>
                                    <p class="p-0 m-0 text-light">Closed</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-lg-3">
                <div class="container d-flex justify-content-end align-items-center mt-5">
                    <div class="">
                        <i class='bx bx-bell fs-4'></i>
                        <p></p>
                    </div>
                </div>
                {% include 'includes/profile_card.html' %}
                <hr>
                <div class="container mt-3">
                    <div class="d-flex align-items-center justify-content-around">
                      <i class="bx bx-chevron-left fs-4" id="gotoprevWeek"></i>
                      <p class="m-0 p-0" id="currentMonthYear"></p>
                      <i class="bx bx-chevron-right fs-4" id="gotonextWeek"></i>
                    </div>
                    <div class="d-flex align-items-center justify-content-between mt-3" id="weekDates"></div>
                </div>
                <section class="recent-activity mt-3">
                    <div class="m-0 py-1 px-2 small bg-secondary d-flex align-items-center justify-content-between">
                        <p class="m-0 ">Recent Activity</p>
                        <a href="" class="text-decoration-none small">View All <i class='bx bx-chevron-right'></i></a>
                    </div>
                    <div class="messages-container">
                        <div class="row">
                            {% if True %}
                            <div class="col-12">
                                <a href="{# url 'message_detail' message.id #}" class="text-decoration-none text-dark">
                                    <div class="border-0">
                                        <div class="card-body d-flex align-items-center justify-content-between">
                                            <div class="d-flex align-items-center w-100 p-2 mt-2">
                                                <img src="{% static 'images/profile_pic.jpg' %}" alt="" width="40" height="40" class="rounded-circle me-2">
                                                <div class=" w-100">
                                                    <p class="m-0 small fw-bold">Suresh Krishnan</p>
                                                    <div class="d-flex align-items-end justify-content-between w-100 ">
                                                        <small class="small w-100" style=".text-truncate {
                                                            overflow: hidden;
                                                            white-space: nowrap;
                                                            text-overflow: ellipsis;
                                                        }">Send Message</small>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <a href="{# url 'message_detail' message.id #}" class="text-decoration-none text-dark">
                                    <div class="border-0">
                                        <div class="card-body d-flex align-items-center justify-content-between">
                                            <div class="d-flex align-items-center w-100 p-2 mt-2">
                                                <img src="{% static 'images/profile_pic.jpg' %}" alt="" width="40" height="40" class="rounded-circle me-2">
                                                <div class=" w-100">
                                                    <p class="m-0 small fw-bold">Suresh Krishnan</p>
                                                    <div class="d-flex align-items-end justify-content-between w-100 ">
                                                        <small class="w-100">New Message</small>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <a href="{# url 'message_detail' message.id #}" class="text-decoration-none text-dark">
                                    <div class="border-0">
                                        <div class="card-body d-flex align-items-center justify-content-between">
                                            <div class="d-flex align-items-center w-100 p-2 mt-2">
                                                <img src="{% static 'images/profile_pic.jpg' %}" alt="" width="40" height="40" class="rounded-circle me-2">
                                                <div class=" w-100">
                                                    <p class="m-0 small fw-bold">Suresh Krishnan</p>
                                                    <div class="d-flex align-items-end justify-content-between w-100 ">
                                                        <small class="w-100">Read Message</small>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <section class="Projects-in-process">
            <div class="d-flex align-items-center justify-content-between ">
                <h6 class="mt-3 p-0 mb-3">Projects in Process</h6>
            </div>
            <div class="container mt-2 mb-2" style="height: 215px; overflow-y: auto;">
                <div class="row">
                    <div class="d-flex mb-1  bg-secondary rounded-2 ">
                        <div class="col-6 p-2 rounded-2">
                            <div class="d-flex align-items-center">
                                <div class="img-container bg-light p-1 rounded-2 d-flex align-items-center justify-content-center me-2" style="width: 50px;">
                                    <img src="{% static 'images/project_logo.png' %}" alt="anvc" width="30">
                                </div>
                                <div>
                                    <p class="m-0 p-0 fw-semibold">Sri Krishana Treats Creative Post</p>
                                    <span class="m-0 p-0  small rounded-5 text-light  bg-primary py-1 px-3" style="font-size: .7rem;">2 days Left</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-2 rounded-2">
                            <div class="d-flex flex-column align-items-center justify-content-center">
                                <div class="d-flex mt-2">
                                    <div class="rounded-5" style="width: 35px; height: 35px; overflow: hidden;">
                                        <img src="{% static 'images/vimal.jpg' %}" alt="" width="35">
                                    </div>
                                    <div class="rounded-5" style="width: 35px; height: 35px; overflow: hidden;">
                                        <img src="{% static 'images/vimal.jpg' %}" alt="" width="35">
                                    </div>
                                    <div class="rounded-5 bg-light d-flex align-items-center justify-content-center" style="width: 35px; height: 35px;">
                                        <span class="small fw-bold">+4</span>
                                    </div>
                                </div>
                                <span class="small fw-bold" >Developer</span>
                            </div>
                            
                        </div>
                        <div class="col-4 rounded-2">
                            <div class="m-auto mt-2">
                                <div class="d-flex align-items-center justify-content-between">
                                    <p class="m-0 p-0">Process</p>
                                    <p class="m-0 p-0">75%</p>
                                </div>
                                <div class="progress mt-2" style="height: 6px;">
                                    <div class="progress-bar bg-primary" role="progressbar" 
                                        style="width: 75%;
                                        height: 6px;"
                                        aria-valuenow="75" 
                                        aria-valuemin="0" 
                                        aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex mb-1  bg-secondary rounded-2 ">
                        <div class="col-6 p-2 rounded-2">
                            <div class="d-flex align-items-center">
                                <div class="img-container bg-light p-1 rounded-2 d-flex align-items-center justify-content-center me-2" style="width: 50px;">
                                    <img src="{% static 'images/project_logo.png' %}" alt="anvc" width="30">
                                </div>
                                <div>
                                    <p class="m-0 p-0 fw-semibold">Sri Krishana Treats Creative Post</p>
                                    <span class="m-0 p-0  small rounded-5 text-muted  btn-outline-primary py-1 px-3" style="font-size: .7rem;">2 days Left</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-2 rounded-2">
                            <div class="d-flex flex-column align-items-center justify-content-center">
                                <div class="d-flex mt-2">
                                    <div class="rounded-5" style="width: 35px; height: 35px; overflow: hidden;">
                                        <img src="{% static 'images/vimal.jpg' %}" alt="" width="35">
                                    </div>
                                    <div class="rounded-5" style="width: 35px; height: 35px; overflow: hidden;">
                                        <img src="{% static 'images/vimal.jpg' %}" alt="" width="35">
                                    </div>
                                    <div class="rounded-5 bg-light d-flex align-items-center justify-content-center" style="width: 35px; height: 35px;">
                                        <span class="small fw-bold">+4</span>
                                    </div>
                                </div>
                                <span class="small fw-bold" >Developer</span>
                            </div>
                            
                        </div>
                        <div class="col-4 rounded-2">
                            <div class="m-auto mt-2">
                                <div class="d-flex align-items-center justify-content-between">
                                    <p class="m-0 p-0">Process</p>
                                    <p class="m-0 p-0">75%</p>
                                </div>
                                <div class="progress mt-2" style="height: 6px;">
                                    <div class="progress-bar bg-primary" role="progressbar" 
                                        style="width: 75%;
                                        height: 6px;"
                                        aria-valuenow="75" 
                                        aria-valuemin="0" 
                                        aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex mb-1  bg-secondary rounded-2 ">
                        <div class="col-6 p-2 rounded-2">
                            <div class="d-flex align-items-center">
                                <div class="img-container bg-light p-1 rounded-2 d-flex align-items-center justify-content-center me-2" style="width: 50px;">
                                    <img src="{% static 'images/project_logo.png' %}" alt="anvc" width="30">
                                </div>
                                <div>
                                    <p class="m-0 p-0 fw-semibold">Sri Krishana Treats Creative Post</p>
                                    <span class="m-0 p-0  small rounded-5 text-muted  py-1 px-3" style="font-size: .7rem;">2 days Left</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-2 rounded-2">
                            <div class="d-flex flex-column align-items-center justify-content-center">
                                <div class="d-flex mt-2">
                                    <div class="rounded-5" style="width: 35px; height: 35px; overflow: hidden;">
                                        <img src="{% static 'images/vimal.jpg' %}" alt="" width="35">
                                    </div>
                                    <div class="rounded-5" style="width: 35px; height: 35px; overflow: hidden;">
                                        <img src="{% static 'images/vimal.jpg' %}" alt="" width="35">
                                    </div>
                                    <div class="rounded-5 bg-light d-flex align-items-center justify-content-center" style="width: 35px; height: 35px;">
                                        <span class="small fw-bold">+4</span>
                                    </div>
                                </div>
                                <span class="small fw-bold" >Developer</span>
                            </div>
                            
                        </div>
                        <div class="col-4 rounded-2">
                            <div class="m-auto mt-2">
                                <div class="d-flex align-items-center justify-content-between">
                                    <p class="m-0 p-0">Process</p>
                                    <p class="m-0 p-0">75%</p>
                                </div>
                                <div class="progress mt-2" style="height: 6px;">
                                    <div class="progress-bar bg-primary" role="progressbar" 
                                        style="width: 75%;
                                        height: 6px;"
                                        aria-valuenow="75" 
                                        aria-valuemin="0" 
                                        aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>             
                </div>
            </div>
        </section>
    </div>
</div>
{% endblock %}
{% block script %}
<script src="https://cdn.jsdelivr.net/npm/pikaday/pikaday.js"></script>
<script src="{% static 'js/date.js' %}"></script>
{% endblock %}