{% extends 'base.html' %}
{% block title %}Projects Page | Revaa {% endblock %}
{% load static %}
{% block style %}
<link rel="stylesheet" href="{% static 'css/messages.css' %}">
{% endblock %}
{% block container %}
<div class="d-flex">
    {% include 'includes/sidebar.html' %}
    <div class="content w-100">
        <div class="container mt-3" style="height: 84vh;">
            <div class="row clearfix h-100">
                <div class="col-lg-12 h-100">
                    <div class="card chat-app h-100">
                        <div id="plist" class="people-list sidebar-message-char">
                            <div class="search-container">
                                <div class="inside-container input-search-container">
                                    <i class='bx bx-search-alt fs-5'></i>
                                    <input type="search" class="input" placeholder="Search">
                                </div>
                            </div>
                            <ul class="list-unstyled chat-list mt-2 mb-0">
                                {% for everyone in userr %}
                                    <a href="{% url 'openmessagesection' pk=everyone.pk %}" class="text-decoration-none">
                                        <li class="clearfix">
                                            <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="avatar">
                                            <div class="about">
                                                <div class="name">{{ everyone.name }}</div>
                                                <div class="status"> <i class="fa fa-circle offline"></i> left 7 mins ago </div>
                                            </div>
                                            <div class="notification-badge">7</div>
                                        </li>
                                    </a>
                                {% endfor %}
                            </ul>
                            <ul>
                                {% if False %}
                                <li class="clearfix chat-active">
                                    <img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="avatar">
                                    <div class="about">
                                        <div class="name">Aiden Chavez</div>
                                        <div class="status"> <i class="fa fa-circle online"></i> online </div>
                                    </div>
                                    <div class="notification-badge">10</div>
                                </li>
                                {% endif %}
                                <!-- Additional list items -->
                            </ul>
                        </div>
                        
                        <div class="chat">
                            {% if messagee %}                          
                            <div>
                                <div class="chat-header clearfix d-flex">
                                    <div class="rounded-5 overflow-hidden me-3">
                                        <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="avatar" width="45" height="45">
                                    </div>
                                    <div class="about">
                                        <div class="name">{{ messagee.name }}</div>
                                        <div class="status"> <i class="fa fa-circle offline"></i> left 7 mins ago </div>
                                    </div>
                                </div>
                            </div>          
                            <div class="chat-history" id="chat-history" style="position: relative;">
                                <ul class="m-b-0">
                                    <!-- Example messages -->
                                    <li class="clearfix">
                                        <div class="message my-message">
                                            <small>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facilis facere mollitia perspiciatis magni, libero laudantium, dignissimos veritatis fugiat aliquid aperiam voluptatum. Hic, magnam sed in omnis a ab molestiae ea.</small>
                                            <div class="text-end border-top text-muted">
                                                <small style="font-size: 12px; font-style: italic;">10.10 PM</small>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="clearfix other-message-container">
                                        <div class="message other-message">
                                            <small>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facilis facere mollitia perspiciatis magni, libero laudantium, dignissimos veritatis fugiat aliquid aperiam voluptatum. Hic, magnam sed in omnis a ab molestiae ea.</small>
                                            <div class="d-flex justify-content-end text-end border-top text-muted">
                                                <small class="me-2" style="font-size: 12px; font-style: italic;">10.10 PM</small>
                                                <div>
                                                    <i class='bx bx-check text-muted fs-4' style="cursor:default;"></i>
                                                    <i class='bx bx-check-double text-muted fs-4' style="cursor:default;"></i>
                                                    <i class='bx bx-check-double text-primary fs-4' style="cursor:default;"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <div class="preview-container" id="preview-container" style="display: none;">
                                    <div class="preview h-100" id="preview">
                                        <div class="file-info" id="file-info"></div>
                                        <div class="h-100 w-100 d-flex align-items-center justify-content-center">
                                            <img id="preview-image" src="" alt="Preview">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <form id="chat-form" method="post" action="" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="chat-message d-flex align-items-center">
                                    <div class="attachment-container me-2">
                                        <img src="{% static 'images/attach-paperclip-symbol.png' %}" alt="Attach" width="20" id="attach-button">
                                        <div class="attachment-options" id="attachment-options">
                                            <div onclick="document.getElementById('file-input').click()">Upload File</div>
                                        </div>
                                    </div>
                                    <div class="input-group">
                                        <input name="message" type="text" class="form-control" placeholder="Enter text here...">
                                        <input type="file" name="file-input" id="file-input" style="display: none;" onchange="previewFile()">
                                        <button type="submit" class="send-button">Send</button>
                                    </div>
                                </div>
                                
                            </form>
                            <script>
                                document.getElementById('attach-button').addEventListener('click', function() {
                                    var options = document.getElementById('attachment-options');
                                    options.style.display = options.style.display === 'block' ? 'none' : 'block';
                                });

                                document.addEventListener('click', function(event) {
                                    var isClickInside = document.getElementById('attach-button').contains(event.target);
                                    if (!isClickInside) {
                                        document.getElementById('attachment-options').style.display = 'none';
                                    }
                                });

                                function previewFile() {
                                    var file = document.getElementById('file-input').files[0];
                                    if (file) {
                                        var reader = new FileReader();
                                        reader.onload = function(e) {
                                            var previewImage = document.getElementById('preview-image');
                                            previewImage.src = e.target.result;
                                            document.getElementById('file-info').textContent = `${file.name} - ${Math.round(file.size / 1024)} KB`;
                                            document.getElementById('preview-container').style.display = 'block';
                                        }
                                        reader.readAsDataURL(file);
                                    }
                                }

                                document.getElementById('chat-form').addEventListener('submit', function(event) {
                                    var file = document.getElementById('file-input').files[0];
                                    var message = document.querySelector('input[name="message"]').value;
                                    if (message === '' && !file) {
                                        alert('Please enter a message or select a file to send.');
                                        event.preventDefault();
                                    } else {
                                        console.log('Sending message:', message);
                                        if (file) {
                                            console.log('Sending file:', file.name);
                                        }

                                        // Reset the preview and input
                                        document.getElementById('preview-container').style.display = 'none';
                                        document.getElementById('file-input').value = '';
                                        document.getElementById('caption').value = '';
                                    }
                                });

                            </script>
                            {% else %}
                            <p>came to message section </p>
                            {% endif %}
                                
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Hello -->
<!-- Nothing -->
{% endblock %}