{% extends 'base.html' %}
{% block title %}Projects Page | Revaa {% endblock %}
{% load static %}
{% block container %}
<div class="d-flex">
    {% include 'includes/sidebar.html' %}
    <div class="content w-100">
        {% include 'includes/header.html' %}
        <div class="mt-3">
            {% include 'includes/message.html' %}
        </div>
        <div class="container mt-4">
            <div class="d-flex align-items-center justify-content-between mb-3">
                <div class="col-5">
                    <div class="dropdown w-100">
                        <a class="btn dropdown-toggle w-100" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                            {% if team %}
                            {{team}}
                            {% else %}
                            Filter Teams
                            {% endif %}
                        </a>
                        <ul class="dropdown-menu w-100" aria-labelledby="dropdownMenuLink">
                            <li><a class="dropdown-item" href="
                                {% if closed_project_page %}
                                {% url 'close_projects_page' %}
                                {% else %}
                                {% url 'project' %}
                                {% endif %}">
                                Show all</a>
                            </li>
                            {% for team in all_teams %}
                                <li><a class="dropdown-item" href="
                                    {% if closed_project_page %}
                                    {% url 'closeprojectteam' team=team %}
                                    {% else %}
                                    {% url 'openprojectteam' team=team %}
                                    {% endif %}">
                                    {{team}}</a>
                                </li>
                            {% endfor %}
                          
                        </ul>
                    </div>
                </div>
                {% if not closed_project_page %}
                {% include 'alert_popup/add_client.html' %}
                <button type="button" class="btn btn-primary px-3 me-2 d-flex align-items-center justify-content-center"
                    data-bs-toggle="modal" data-bs-target="#addnewclient">
                    <i class='bx bx-plus fs-5 pe-1 text-light'></i>
                    <h6 class="m-0 p-0 text-light">New Project</h6>
                </button>
                {% endif %}
            </div>
            <div class="card">
                <div class="card-header p-3 border">
                    <div class="d-flex align-items-center justify-content-start">
                        <a href="{% url 'project' %}" class="d-flex text-decoration-none me-3"><i class='bx bx-data fs-4 m-0 me-1 page_active'></i><p class="m-0 p-0 page_active">Open</p></a>
                        <a href="{% url 'close_projects_page' %}" class="d-flex text-decoration-none"><i class='bx bx-box fs-4 m-0 me-1 page_active'></i><p class="m-0 p-0 page_active">Close</p></a>
                    </div>
                </div>
                {% if all_projects %}
                {% for project in all_projects %}
                <div class="card-body border border-top-0 p-3">
                    <div class="row" style="max-height: 60px;">
                        <div class="col-3 d-flex flex-column align-items-start justify-content-between">
                            <div>
                                <a href="{% url 'singleprojectopen' pk=project.pk %}"><h6  class="text-truncate" style="width: 200px;">{{project.project_name}}</h6></a>
                            </div>
                            <p class="m-0 p-0 small text-muted">Updated : {{project.updated_date}}</p>
                        </div>
                        <div class="col-4 d-flex flex-column align-items-start justify-content-center">
                            <small style="max-height: 60px; overflow-y: hidden;">
                                {{ project.project_discription }}
                            </small>
                        </div>
                        <div class="col-2  d-flex align-items-center">
                            {% if project.status %}
                            <p class="m-0 p-0 
                            {% if project.status == 'Waiting to Start' %}
                            cs-alert-orange
                            {% elif project.status == 'Hold' %}
                            cs-alert-danger
                            {% elif project.status == 'Closed' %}
                            cs-alert-danger
                            {% elif project.status == 'Completed' %}
                            cs-alert-green
                            {% elif project.status == 'On Process' %}
                            cs-alert-primary
                            {% endif %}
                            mt-1">
                            {{project.status}}</p>
                            {% else %}
                            <p class="m-0 p-0 cs-alert-yellow mt-1">Status</p>
                            {% endif %}
                        </div>
                        <div class="col-3 d-flex align-items-center justify-content-between">
                            {% if project.start_date %}
                            <p class="m-0 p-0 text-muted">{{project.start_date}}</p>
                            {% else %}
                            <p class="m-0 p-0 text-muted">Start Date</p>
                            {% endif %}
                            {% if project.end_of_date %}
                            <p class="m-0 p-0 text-muted">{{project.end_of_date}}</p>
                            {% else %}
                            <p class="m-0 p-0 text-muted">End Date</p>
                            {% endif %}
                            <div class="btn-group">
                                <i class='bx bx-dots-horizontal-rounded fs-4' data-bs-toggle="dropdown" aria-expanded="false"></i>
                                <ul class="dropdown-menu dropdown-menu-end 
                                {% if not closed_project_page %}
                                border-danger 
                                {% else %}
                                border-primary
                                {% endif %} py-0">
                                    {% if not closed_project_page %}
                                    <li><a class="dropdown-item text-danger my-0 rounded-2" href="{% url 'closeproject' project.pk %}"><i class='bx bx-box text-danger' ></i> Close Project</a></li>
                                    {% else %}
                                    <li><a class="dropdown-item text-primary my-0 rounded-2" href="{% url 'reopen' project.pk %}"><i class='bx bx-data text-primary fs-6'></i> Reopen</a></li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% else %}
                <div class="card-body border border-top-0 p-3">
                    <div class="row">
                        <div class="col d-flex flex-column align-items-center justify-content-center" style="height: 80px;">
                            {% if closed_project_page %}
                            <i class='bx bx-box fs-3' ></i>
                            <h5 class="fs-5">No closed projects</h5>
                            {% else %}
                            <i class='bx bx-data fs-2'></i>
                            <h5 class="fs-5">Provide quick access to relevant projects.</h5>
                            <p class="fs-5 text-muted">Add projects to view them here.</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endif %}
              </div>
        </div>
    </div>
</div>
{% endblock %}