{% extends 'base.html' %}
{% block title %}Teams Page | Revaa {% endblock %}
{% load static %}
{% block container %}
<div class="d-flex">
    {% include 'includes/sidebar.html' %}
    <div class="content w-100">
        {% include 'includes/header.html' %}
        <div class="container mt-4">
            <div class="row">
                <div class="col-md-4">
                    <div style="height: 80vh; overflow-y: scroll;">
                        {% if all_employees %}
                        {% for employee in all_employees %}
                        <a href="" class="text-decoration-none">
                            <div class="profile-container message-active py-2 px-3 d-flex align-items-center mb-1">
                                <div class="bg-dark rounded-circle me-2" style="overflow: hidden;">
                                    {% if employee.employee_photo %}
                                    <img src="{{employee.employee_photo.url}}" alt="" width="45"
                                        height="45">
                                    {% else %}
                                    <img src="{% static 'images/Employee_avathar.png' %}" alt="" width="45"
                                        height="45">
                                    {% endif %}
                                </div>
                                <div class="profile-name">
                                    <p class="p-0 m-0 fw-bold">{{employee.name}}</p>
                                    <p class="p-0 m-0">{{employee.employee_id}}</p>
                                </div>
                            </div>
                        </a>
                        {% endfor %}
                        {% endif %}
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="container">
                        <div class="d-flex align-items-center justify-content-between mb-3">
                            <h5>Team Information</h5>
                            <div class="d-flex align-items-center">
                                {% include 'alert_popup/new_employee_create_form.html' %}
                                <button type="button" class="btn btn-primary px-3 me-2 d-flex align-items-center justify-content-center"
                                    data-bs-toggle="modal" data-bs-target="#newemployeecreateform">
                                    <i class='bx bx-plus fs-5 pe-1 text-light'></i>
                                    <h6 class="m-0 p-0 text-light">New Members</h6>
                                </button>
                                {% include 'alert_popup/new_teams_create.html' %}
                                <button type="button" class="btn btn-primary px-3 d-flex align-items-center justify-content-center"
                                    data-bs-toggle="modal" data-bs-target="#newteamscreate">
                                    <i class='bx bx-plus fs-5 pe-1 text-light'></i>
                                    <h6 class="m-0 p-0 text-light">New Teams</h6>
                                </button>
                            </div>
                        </div>
                        <div class="" style="overflow-y: auto; height: 73vh; overflow-x: hidden;">
                            <div class="" style="overflow-y: auto; height: 73vh; overflow-x: hidden;">
                                <div class="row">
                                    <div class="col-md-6 mb-3">
                                        <div class="card bg-secondary p-3">
                                            <div class="d-flex align-items-start justify-content-between">
                                                <div>
                                                    <h2>652 <span style="font-size: small;">Projects</span></h2>
                                                    <p>Graphic design</p>
                                                </div>
                                                <div>
                                                    <h1 class="px-3 "><i class='bx bx-code-alt text-primary'></i></h1>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <div class="card bg-secondary p-3">
                                            <div class="d-flex align-items-start justify-content-between">
                                                <div>
                                                    <h2>652</h2>
                                                    <p>Total Invoices Sent</p>
                                                </div>
                                                <div>
                                                    <h1 class="px-3 "><i class='bx bx-code-alt text-primary'></i></h1>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <div class="card bg-secondary p-3">
                                            <div class="d-flex align-items-start justify-content-between">
                                                <div>
                                                    <h2>652</h2>
                                                    <p>Total Invoices Sent</p>
                                                </div>
                                                <div>
                                                    <h1 class="px-3 "><h1 class="px-3 "><i class='bx bxl-wordpress'></i></h1></h1>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <div class="card bg-secondary p-3">
                                            <div class="d-flex align-items-start justify-content-between">
                                                <div>
                                                    <h2>652</h2>
                                                    <p>Total Invoices Sent</p>
                                                </div>
                                                <div>
                                                    <h1 class="px-3 "><i class='bx bx-code-alt text-primary'></i></h1>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>                 
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script src="{% static 'js/team_page.js' %}"></script>
{% endblock %}